@import "cyborg.less";

@keyframes blinker {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}

.list {
  list-style-type: none;
}

.form-control {
  color: black;
  border: 3px solid @input-border;
}

.instruction {
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.score {
  margin-top: 3em;
  width: 100%;
  font-size: 3em;
  text-align: center;

  span.big{
    font-size:6em;
  }
}

span.red{color:red;}
span.blue{color:lightblue;}

footer {
  display: block;
  position: absolute;
  bottom:0;
  text-align: center;
}

.table > tbody > tr > td.primary {
  background-color: @brand-primary;
}

