node_modules
npm-debug.log
public/build.js
db.json
.idea
public/.*
public/main.css
server.log
db*.json
*.psd
datasheets/


.vscode/
	
hardware/radio/*.lck
hardware/radio/firmware/.ccsproject
hardware/radio/firmware/.cproject
hardware/radio/firmware/.launches/
hardware/radio/firmware/.project
hardware/radio/firmware/.settings/
hardware/radio/firmware/lnk_msp430g2553.cmd
hardware/radio/firmware/targetConfigs/
package-lock.json
hardware/radio/firmware/Debug
